.row--menu-row {
  position: fixed;
  margin-bottom: 0;
  padding-right: 24px;
}

.row--menu-row .rowContainer {
  position: fixed;
  margin-bottom: 0;
  align-items: flex-start;
}

.row--payment-methods {
  padding-top: 16px;
}
