.sliderLayoutContainer {
  display: flex;
  background-color: #303030;
  justify-content: center;
}
.sliderLayoutContainer--carousel {
  background-color: #303030;
}

.sliderTrackContainer {
  /* width: 300px; */
  max-width: 800px;
}

.paginationDotsContainer {
  color: #14FF01;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
}

.slide--shelf {
  margin-bottom: 25px;
  padding-left: .5rem;
  padding-right: .5rem;
}
